/* Center homepage text center (bootstrap navbar) */
.navbar-brand {
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
}
/* FULFIX; iPhones + Samsung Galaxy fix (Ser hyffast ut) */
@media screen and (max-width: 450px) and (orientation: portrait) {
    #main {
        font-size: 14px !important;
        margin: 50px;
    }
    #startpageButton.navbar-brand {
        font-size: 12px !important;
        right: 20px !important;
    }
}
/* FULFIX;  iPad Air & Mini CSS fix (Ser hyffast ut) */
@media screen and (max-width: 820px) and (min-height: 1000px) and (orientation: portrait) {
    #main {
        font-size: 20px;
        margin: 50px;
    }
    .nav-link {
        font-size: 15px;
    }
    #startpageButton.navbar-brand {
        font-size: 12px !important;
        left: 25%;
        position: absolute;
    }
}

/* You can add Queries for more devices ref: https://css-tricks.com/snippets/css/media-queries-for-standard-devices/  */